html,
body {
  text-align: center;
  height: 100%;
  width: 100%;
}

.intro {
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
}

.conteudo {
  width: 100%;
  display: flex;
  justify-content: center;
}

#perfil {
  width: 280px;
  background-image: url(img/foto-perfil.jpg);
  height: 390px;
  background-size: cover;
  border-radius: 5%;
}
